/*FULL SIZE AND ONLY DIV SCROLL!*/

html, body {
    height: 100%;
    margin: 0
}

.row {
    margin: 0;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}


/*.box .row {
  border: 1px dotted grey;
}*/

.box .row.header {
    flex: 0 1 auto;
    /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.box .row.content {
    position: relative;
    flex: 1 1 1px;
    overflow-y: auto;
}

.codebox {
    height: 100%;
    overflow: scroll;
}

.box .row.footer {
    flex: 0 1 40px;
}


/* END FLEXBOX CONFIG */

.navbar {
    margin-bottom: 0;
}

.INSERT {
    background-color: rgba(155, 245, 144, 0.5);
    /*color: white;*/
    text-shadow: none;
    padding: 1px;
    /*border: 1px dotted grey;*/
    margin: 1px;
}

.MOVE {
    background-color: rgba(238, 135, 244, 0.5);
    /*color: white;*/
    text-shadow: none;
    padding: 1px;
    /*border: 1px dotted black;*/
    margin: 1px;
}

.UPDATE {
    background-color: rgba(222, 250, 110, 0.5);
    /*color: white;*/
    text-shadow: none;
    padding: 2px;
}

.DELETE {
    background-color: rgba(236, 78, 78, 0.2);
    text-shadow: none;
    padding: 2px;
}
