/* accordion nav */

#accordion .glyphicon {
  margin-right: 10px;
}

.panel-collapse {
  > .list-group {
    .list-group-item {
      &:first-child {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
      }
      border-width: 1px 0;
    }
    margin-bottom: 0;
  }
  .list-group-item {
    border-radius: 0;
  }
  .list-group .list-group {
    margin: 0;
    margin-top: 10px;
  }
  .list-group-item li.list-group-item {
    margin: 0 -15px;
    border-top: 1px solid #ddd !important;
    border-bottom: 0;
    padding-left: 30px;
    &:last-child {
      padding-bottom: 0;
    }
  }
  div.list-group {
    div.list-group {
      margin: 0;
    }
    .list-group a.list-group-item {
      border-top: 1px solid #ddd !important;
      border-bottom: 0;
      padding-left: 30px;
    }
  }
  .list-group-item li.list-group-item {
    border-top: 1px solid #DDD !important;
  }
}
