#wizard {
    height: 850px
}
.step-content {
    padding: 10px
}

.nav-tabs {
    margin-bottom: 10px;
}

#githubwizard .form-group {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.list-group-item.active a
{
    color: white;
}

.file-item {
    .removed {
        @extend .DELETE;
        color: black;
    }
    .added {
        @extend .INSERT;
        color: black;
    }
    .renamed {
        @extend .UPDATE;
        color: black;
    }
    b {
        font-family: Consolas, monaco, monospace;
    	font-size: 14px;
    	font-style: normal;
    	font-variant: normal;
    	// font-weight: 400;
    	line-height: 20px;
    }
}

.commit-item {
    p {
        overflow: hidden;
    }
}

.avatar {
    border-radius: 5px 5px 5px 5px;
    width: 50px;
    margin: 0;
    margin-right: 10px;
}
