
.step-content {
    padding: 10px
}

.nav-tabs {
    margin-bottom: 10px;
}

#githubwizard .form-group {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.list-group-item.active a
{
    color: white;
}
