/* marker highlighting */

.META {
    background-color: rgba(216, 216, 218, 0.7);
    text-shadow: none;
    border: none;
    border-color: rgba(166, 163, 163, 0.7);
}

.INSERT {
    background-color: rgba(155, 245, 144, 0.7);
    text-shadow: none;
    border: none;
    border-color: rgba(32, 212, 10, 0.7);
}

.MOVE {
    background-color: rgba(238, 135, 244, 0.7);
    text-shadow: none;
    cursor: pointer;
    border: none;
    border-color: rgba(200, 48, 209, 0.7);
}

.UPDATE {
    background-color: rgba(243, 250, 110, 0.7);
    text-shadow: none;
    cursor: pointer;
    border: none;
    border-color: rgba(240, 210, 0, 0.7);
}

.DELETE {
    background-color: rgba(222, 166, 166, 0.7);
    text-shadow: none;
    border: none;
    border-color: rgba(218, 1, 1, 0.7);
}

.DEPENDENCY {
    background-color: rgba(0, 244, 238, 0.7);
    text-shadow: none;
    cursor: pointer;
    border: none;
    border-color: rgba(8, 194, 209, 0.7);
}

.hovered {
    z-index: 50;
    position: relative;
    border: black 1px dashed;
    padding: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}