/*marker highlighting*/

.INSERT {
    background-color: rgba(13, 111, 0, 0.9);
    text-shadow: none;
    border: none;
    border-color: rgba(32, 212, 10, 0.7);
}

.MOVE {
    background-color: rgba(99, 0, 103, 0.9);
    text-shadow: none;
    cursor: pointer;
    border: none;
    border-color: rgba(200, 48, 209, 0.7);
}

.UPDATE {
    background-color: rgba(135, 89, 0, 0.9);
    text-shadow: none;
    cursor: pointer;
    border: none;
    border-color: rgba(240, 210, 0, 0.7);
}

.DELETE {
    background-color: rgba(143, 17, 17, 0.9);
    text-shadow: none;
    border: none;
    border-color: rgba(218, 1, 1, 0.7);
}

.hovered {
    z-index: 50;
    position: relative;
    border: white 1px dashed;
    padding: 2px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.selected {
    border-width: 1px;
    border-style: solid;
    border-color: #2780E3;
    z-index: 100;
    position: relative;
    box-shadow: 2px 2px 5px #2780E3;
    padding: 2px
}

.selected.MOVE {
    box-shadow: 2px 2px 5px rgba(241, 0, 255, 1);
    border-color: rgba(241, 0, 255, 1)
}

.selected.UPDATE {
    box-shadow: 2px 2px 5px rgba(250, 255, 0, 0.7);
    border-color: rgba(255, 237, 0, 0.7);
}

body {
    background-color: rgb(0, 0, 0);
}

.minimap-viewport {
    background-color: rgba(0, 0, 0, 0.5);
}
